:root {
  --accent-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* -----header---- */

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.head-logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.head-logo-studio {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.head-link {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.head-link:hover,
.head-link:focus {
  color: #404bbf;
}

.adr-contact {
  font-style: normal;
}
.adr-link {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adr-link:hover,
.adr-link:focus {
  color: #404bbf;
}

/*------- main------- */

.hero {
  background-color: var(--navyblue, #2e2f42);
}

.hero-title {
  text-align: center;
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  color: var(--white, #fff);
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris, #4d5ae5);
  cursor: pointer;
}
.order {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 0.15;
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean, #404bbf);
}

/* -----princips------- */

.visually-hidden {
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pr-name {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.pr-text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------What are we doing------ */

.what-name {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.wawd {
  background-color: #f4f4fd;
}
/* -----------------Our team-------------- */

.team-name {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
  background-color: #ffffff;
}
.specialists-team {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.position-team {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------footer-------- */

.footer {
  background-color: var(--navyblue, #2e2f42);
}
.head-logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-studio {
  color: var(--cloud, #f4f4fd);
  font-family: Raleway, sans-serif;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------PORTFOLIO*/

.pres-btn {
  color: var(--iris, #4d5ae5);
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--white, #f4f4fd);
  cursor: pointer;
}
.pres-btn:hover,
.pres-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* ---------main-portfolio---------- */

.pres-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.pres-item {
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
